/* header css start */
.pos-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 998;
}

/* header css end */
/* side bar css start */
.side-bar {
    position: fixed;
    top: 65px;
    left: 10px;
    bottom: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    background: #ffffff;
    transition: 0.5s all;
    z-index: 998;
    box-shadow: 0px 2px 20px rgba(59, 59, 59, 0.2);
    width: 230px;
    padding: 14px 0;
    border-radius: 18px;
}

.toggle-sidebar .side-bar {
    left: 0px;
}

.toggle-sidebar .side-bar {
    left: -300px;
}

#side-bar .list-group ul li {
    padding: 1px 14px;
    width: 100%;
    position: relative;
}

#side-bar .list-group ul li a {
    border-radius: 50px;
    color: #100c0c !important;
    transition: 0.5s ease-in-out;
    width: 100% !important;
    padding: 8px 12px;
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    gap: 13px;
    font-size: 14px;
    cursor: pointer;
}

/* side bar css end */

/* side active Color and hover color start */
#side-bar .list-group ul li a:hover,
#side-bar .list-group li .active {
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color) !important;
}

#side-bar .list-group ul li:hover .list-icon {
    background-color: #ffffff;
}

#side-bar .list-group li .active .list-icon {
    background-color: #ffffff;
    color: var(--hover-text-color) !important;
}

.list-icon {
    height: 28px;
    width: 28px;
    transition: 0.5s ease-in-out;
    border-radius: 50%;
    text-align: center;
    background-color: var(--hover-bg-color);
    line-height: 28px;
}

.list-icon svg {
    font-size: 22px;
    transition: 0.5s ease-in-out;
}

/* side active Color and hover color start */

/* toggle content  start*/
#main {
    margin-left: 228px;
    padding: 10px 28px !important;
    margin-top: 56px;
    transition: 0.5s all;
}

.toggle-sidebar #main {
    margin-left: 0px;
}

/* toggle content end */

/*************************profile start***************************/
.profile-dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
}

.dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content.show {
    display: block;
    opacity: 1;
    visibility: visible;
    padding: 10px;
    border-radius: 12px;
}
.profile-icon {
    width: 100%;
    font-size: 16px;
    margin: 6px 0;
}

.profile-bar {
    background-color: #bad5ec1e;
    color: var(--hover-text-color) !important;
    padding: 5px;
    border: 1px solid var(--hover-text-color) !important;
    border-radius: 50px;
}

.dropdown-content ul li a:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color) !important;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


/* mobile css start */
@media (min-width:1px) and (max-width:767.98px){
    /* toggle start */
    #main {padding: 10px 12px !important;   margin-left: 0px;}
    .toggle-sidebar #main {
        margin-left: 0px;
    }
     /* side bar start */
     .side-bar {left: -300px;}
     .toggle-sidebar .side-bar {
        left: 0px;
    }
    
}