body{
   background-color:  #f3f2f7 !important;
}
:root {
    --hover-bg-color: #26507333; 
    --hover-text-color: #265073;  
  }
  @media (min-width:1px) and (max-width:767.98px){
   body{
      font-size: 14px !important;
   }
  }